
/* CSS Document */

/* 選択中の文字色 */
::selection { background: #14b9d6; color: #fff; /* Safari */ }
::-moz-selection { background: #14b9d6; color: #fff; /* Firefox */ }

/* RESET */
html, body, div, span, applet, object, iframe, strong,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, legend, caption, 
tbody, tfoot, thead, table, label, tr, th, td
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	list-style: none;
}

/* BASE */
html { height: 99%; }
body
{
	height: 100%;
    font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック", "MS P Gothic", Geneva, Verdana, sans-serif;
    font-size: 12px;
    line-height: 160%;
	color: #696969;
}

/* area点線消し */
area {
	border:none;
	outline:none;
}

/* リンク */
a {
	color: #ff62a7; text-decoration: underline;
}
a:hover{ color: #62d4ff; }

.box_link
{
	height: 18px;
	font-size: 10px;
	font-weight: bold;
	padding: 3px 20px 3px 24px;
	background: #939393;
	color: #ffffff;
	text-decoration: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}
.box_link span
{
	position: absolute;
	width: 6px;
	height: 10px;
	margin-left: -8px;
	margin-top: 5px;
	background: url("../img/common_arrow_white.png");
	background-repeat: no-repaet;

}
a:hover.box_link
{
	background: #ff62a7;
	color: #ffffff;
}

/* 強調 */
.red { color: #e36c95; }
.blue { color: #14b9d6; }

/* デカ文字 */
.font12 { font-size: 12px; }
.font14 { font-size: 14px; }
.font16 { font-size: 16px; }
.font18 { font-size: 18px; }
.font20 { font-size: 20px; }

/* チビ文字 */
.min { font-size: 10px; line-height: 16px; }

/* float解除 */
.clear{ clear: both; line-height: 0}

/* 年齢認証 */
#modal { position:fixed; z-index:99999; text-align:center; display:none; left:50%; top:50%; margin-left: -150px; margin-top: -100px; }
#modal_box { background-image: url("../modal_bg.jpg"); width: 298px; height:199px; }
#modal a { cursor:pointer; }



/* =============================================== */

/* 選択中の文字色 */
::selection { background: #ff75b7; color: #fff; /* Safari */ }
::-moz-selection { background: #ff75b7; color: #fff; /* Firefox */ }

.shadow
{
	box-shadow:rgba(0, 0, 0, 0.15) 0px 2px 5px 1px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.15) 0px 2px 5px 1px;
	-moz-box-shadow:rgba(0, 0, 0, 0.15) 0px 2px 5px 1px;
}
.shadow_min
{
	box-shadow:rgba(0, 0, 0, 0.15) 0px 0px 3px 1px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.15) 0px 0px 3px 1px;
	-moz-box-shadow:rgba(0, 0, 0, 0.15) 0px 0px 3px 1px;
}

.mar30{ margin-top: 30px; }
.mar20{ margin-top: 20px; }
.mar10{ margin-top: 10px; }

/* =============================================== */

#main
{
	width: 100%;
}

#header_base
{
	width: 100%;
	height: 163px;
}
#header
{
	width: 100%;
	height: 163px;
	background: url("../img/header_bg.gif");
}
.header_fixed
{
	position: fixed;
	top: -104px;
	z-index: 9999;
}
#header_menu
{
	width: 980px;
	margin: 0px auto;
}
#header_logo
{
	height: 104px;
	margin: 0px auto;
}
#header_submenu
{
	float: right;
	padding-top: 42px;
}

/*ヘッダーメニュー*/
#header_menu ul
{
	position: relative;
	margin: 0; 
	padding: 0; 
	list-style: none;
}
#header_menu li
{ 
	display: inline; 
	padding: 0; 
	margin: 0; 
	float: left;
	background: url("../img/header_menu_line_common.gif");
	background-repeat: repeat-x;
}
#header_menu li.products { background: url("../img/header_menu_line_products.gif"); background-repeat: repeat-x; }
#header_menu li.webshop { background: url("../img/header_menu_line_webshop.gif"); background-repeat: repeat-x;  }
#header_menu li.blog { background: url("../img/header_menu_line_blog.gif"); background-repeat: repeat-x;  }
#header_menu li.goods { background: url("../img/header_menu_line_goods.gif"); background-repeat: repeat-x;  }
#header_menu li.event { background: url("../img/header_menu_line_event.gif"); background-repeat: repeat-x;  }
#header_menu li.on
{
	/*
	pointer-events:none;
	cursor:default;
	*/
}
#header_menu li.disabled
{
	pointer-events:none;
	cursor:not-allowed;
}
#header_menu li.disabled img
{
	opacity: 0.3;
}

#header_menu li a
{
	padding-top: 20px;
	display: block;
	width: 153px;
	height: 40px;
	text-decoration: none;
	text-align: center;
	background: url("../img/header_hr.gif");
	background-repeat: no-repeat;
}
#header_menu li:first-child a {	width: 59px; }
#header_menu li:last-child a { width: 3px; }

/*矢印*/
#header_menu li span,
#header_menu li.on span,
#header_menu li p,
#header_menu li.on p
{
	pointer-events: none;
	position: absolute;
	background: url("../img/header_menu_arrow_base.png");
	width: 27px;
	height: 30px;
	margin-left: 63px;
	margin-top: 44px;
	transform: scale(0.7);
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
}
#header_menu li p,
#header_menu li.on p
{
	background: url("../img/header_menu_arrow.png");
	opacity: 0.5;
	transform: rotate(-180deg) scale(0.7);
	-webkit-transform: rotate(-180deg) scale(0.7);
	-moz-transform: rotate(-180deg) scale(0.7);
}
#header_menu li:first-child span,
#header_menu li.on:first-child span,
#header_menu li:first-child p,
#header_menu li.on:first-child p
{
	margin-left: 18px;
}
#header_menu li.on span,
#header_menu li.on p
{
	opacity: 1.0;
	transform: rotate(0deg) scale(1.0);
	-webkit-transform: rotate(0deg) scale(1.0);
	-moz-transform: rotate(0deg) scale(1.0);
}

/*メイン要素*/
#contents
{
	width: 980px;
	margin: 0px auto;
	padding: 30px 0px;
}

#topban{ height: 460px; }

#left
{
	float: left;
	width: 640px;
}
#side
{
	width: 320px;
	margin-left: 20px;
	float: left;
}

.common_box
{
	position: relative;
	background: #ffffff;
	padding-top: 40px;
}
.common_cap
{
	pointer-events: none;
	position: absolute;
	left: -11px;
	top: -13px;
}
.common_bannerset img
{
	margin-left: 10px;
	margin-bottom: 10px;
}
.common_subbox
{
	padding: 10px;
	
}
.common_subbox h1,
.blogsingle h1
{
	background: #9c9c9c;
	background-image: url("../img/common_arrow_white.png");
	background-repeat: no-repeat;
	background-position: 11px 8px;
	color: #fff;
	width: 600px;
	margin-left: -10px;
	padding: 4px 20px 4px 20px;
	font-size: 14px;
}
.blogsingle h1
{
	margin-left: -15px;
}
.common_subbox h2
{
	width: 600px;
	border-bottom: 1px dashed #5fd3ff;
	margin: 0px;
	position: relative;
	left: -10px;
	color: #5fd3ff;
	font-size: 14px;
}
.common_subbox table
{
	width: 100%;
	border: 1px #9c9c9c solid;
	border-collapse: collapse;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.common_subbox td,th {
	vertical-align: top;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #9c9c9c;
}
.common_subbox th {
	vertical-align: middle;
	color: #9c9c9c;
	text-align: center;
	font-weight: bold;
}
#toggle dt
{
	background: #5fd3ff;
	background-image: url("../img/common_arrow_white.png");
	background-repeat: no-repeat;
	background-position: 11px 12px;
	color: #fff;
	width: 580px;
	padding: 8px 20px 7px 20px;
	font-size: 14px;
    cursor:pointer;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -khtml-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
#toggle dd
{
    display:none;
    border: 1px solid #5fd3ff;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -khtml-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
}

.rec_contects_box
{
    padding: 5px;
}
.rec_cap
{
	font-weight: bold;
}
/*fotter*/
/* 上へ戻るボタン */
#gototop
{
	display: block;
	background-image: url("../img/fotter_gototop.png");
	width: 48px;
	height: 48px;
	text-indent: -9999px;
	text-decoration: none;
	position: fixed;
	bottom: 100px;
	right: 10px;
}
#fotter
{
	background: #fff url("../img/footer_bg.gif");
	background-repeat: repeat-x;
	background-position: 0px 0px;
    animation: fotterslide 8s linear infinite;
	-webkit-animation: fotterslide 8s linear infinite;
}
@keyframes fotterslide {
  0%    { background-position:0px 0px;  }
  100%  { background-position:-160px 0px;  }
}
@-webkit-keyframes fotterslide {
  0%    { background-position:0px 0px;  }
  100%  { background-position:-160px 0px;  }
}
#fotter_menu
{
	width: 980px;
	text-align: right;
	padding-top: 18px;
	padding-bottom: 10px;
	line-height: 18px;
	margin: 0 auto;
}
#fotter_menu img { margin-top: 10px; }






/*blogsingle =================================== */
.blogsingle
{
	width: 610px;
	margin-top: 5px;
	margin-left: 15px;
}
.blogsingle .data
{
	background: #939393;
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: 80px;
	padding: 3px 0px 6px 0px;
	float: left;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    margin-right: 20px;
}
.blogsingle .data span { font-size: 24px; }
.blogsingle .title
{
	float: left;
	width: 490px;
	font-size: 18px;
	padding-left: 10px;
	margin-top: 5px;
	text-decoration: none;
	background: url("../img/common_arrow_grey.png") no-repeat left 5px;
	margin-left: -10px;
}
.blogsingle .detail
{
	margin-top: 5px;
	background: url("../img/common_hr.png") top repeat-x;
	padding: 10px 0px;
}
.blogsingle .fotter
{
	width:610px;
	background: url("../img/common_hr.png") top repeat-x;
	padding: 10px 0px;
}
.blogsingle .twitter {float: left;}
.blogsingle .tag{float: right; margin-right: 10px;}
.blogsingle .tag a
{
	font-size: 10px;
	font-weight: bold;
	padding: 2px 15px 2px 15px;
	background: #ffffff;
	border: solid 1px #9c9c9c;
	color: #9c9c9c;
	text-decoration: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}
.blogsingle .meta{float: right; padding-top: 1px;}



#blognavi
{
	text-align: center;
}


/*infomation===================================*/ 
.info_box
{
	width: 620px;
	background: url("../img/common_hr.png") bottom repeat-x;
	margin-left: 10px;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.info_thum
{
	float: left;
}
.info_thum img
{
	max-width: 96px;
	max-height: 96px;
	border-radius: 100%;
	box-shadow:rgba(0, 0, 0, 0.15) 0px 0px 3px 2px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.15) 0px 0px 3px 2px;
	-moz-box-shadow:rgba(0, 0, 0, 0.15) 0px 0px 3px 2px;
}
.info_main
{
	float: left;
	width: 504px;
	margin-left: 20px;
	padding-top: 10px;
}
.info_data
{
	font-weight: bold;
}
.info_title
{
	width: 504px;
	font-size: 16px;
	color: #ff62a7;
	padding-left: 10px;
	text-decoration: none;
	background: url("../img/common_arrow_red.png") no-repeat left;
	margin-left: -10px;
}
.info_title:hover{ background: url("../img/common_arrow_blue.png") no-repeat left; color: #62d4ff; }
.info_text { width: 504px; margin-bottom: 5px; }
.info_twitter{float: left;}
.info_tag{float: right; margin-right:10px;}
.info_tag a
{
	font-size: 10px;
	font-weight: bold;
	padding: 2px 15px 2px 15px;
	background: #ffffff;
	border: solid 1px #9c9c9c;
	color: #9c9c9c;
	text-decoration: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

.info_more{ float: right; }




/*infomation===================================*/ 
.goods_box
{
	width: 620px;
	margin-left: 20px;
	padding-top: 10px;
	margin-bottom: 15px;
}
.goods_thum
{
	position: relative;
	overflow: hidden;
	width: 190px;
	height: 190px;
	box-shadow:rgba(0, 0, 0, 0.15) 0px 0px 3px 2px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.15) 0px 0px 3px 2px;
	-moz-box-shadow:rgba(0, 0, 0, 0.15) 0px 0px 3px 2px;
	margin-right: 15px;
	margin-bottom: 15px;
	float: left;
}
.goods_thum span
{
	font-weight: bold;
	background: #fff;
	color: #000;
	width: 190px;
	height: 110px;
	position: absolute;
	font-size: 16px;
	text-align: center;
	margin: auto 0px;
	overflow: hidden;
	padding-top: 80px;
	opacity: 0.0;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}
.goods_thum span:hover
{
	opacity: 0.8;
}
.goods_thum img
{
	width: 190px;
	height: auto;
	/*border-radius: 100%;*/
}






.pagination
{
	width: 100%;
	text-align: center;
	
}
.pagination a
{
	font-size: 10px;
	font-weight: bold;
	padding: 2px 15px 2px 15px;
	background: #ffffff;
	border: solid 1px #9c9c9c;
	color: #9c9c9c;
	text-decoration: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}
.pagination a:hover
{
	border: solid 1px #ff62a7;
	color: #ff62a7;
}
.pagination .current
{
	font-size: 10px;
	font-weight: bold;
	padding: 2px 15px 2px 15px;
	border: solid 1px #9c9c9c;
	text-decoration: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
	color: #ffffff;
	background: #9c9c9c;
}

.pagination .disabled
{
	display: none;
}
.blog-widget h2
{
	padding: 3px 20px;
	background: #5fd3ff;
	margin: 6px 0px;
	color: #fff;
	font-size: 12px;
}
.blog-widget ul
{
}
.blog-widget li
{
	background: url("../img/common_arrow_red.png") no-repeat 0px 5px;
	padding-left: 10px;
	margin-left: 20px;
}
.blog-widget li:hover
{
	background: url("../img/common_arrow_blue.png") no-repeat 0px 5px;
}





/* スーパーピックアップ */
#top_superpickup
{
	font-size: 14px;
	line-height: 30px;
}
#top_superpickup dt
{
	clear: left;
	float: left;
	width: 170px;
	background: #ff62a7;
	margin-right: 10px;
	text-align: center;
	color: #fff;
	padding: 3px 4px 0px 3px;
    font-weight: bold;
}
#top_superpickup dd
{
	margin-left: 170px;
	margin-top: 5px;
	background: #fff;
	padding: 3px 4px 0px 3px;
    font-weight: bold;
}




.section table
{
	width: 620px;
	margin-top: 10px;
	border: 1px #cccccc solid;
	border-collapse: collapse;
}

.section td,
.section th
{
	text-align: left;
	padding: 10px;
	border: 1px #cccccc solid;
	vertical-align: top;
}
.auth-captcha
{
	border-left: 1px #cccccc solid;
	border-right: 1px #cccccc solid;
	border-bottom: 1px #cccccc solid;
	padding: 10px;
	text-align: center;
}

input
{
	border-style: none;
}


#contents h2
{
	padding: 3px 20px;
	background: #5fd3ff;
	margin: 6px 0px;
	color: #fff;
	font-size: 12px;
}


@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
.item
{
	position: relative;
}
.itemnumber
{
	background: #00cfff;
	color: #fff100;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	font-family: 'Fredoka One', cursive;
	box-shadow:rgba(0, 0, 0, 0.15) 0px 2px 3px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.15) 0px 2px 3px;
	-moz-box-shadow:rgba(0, 0, 0, 0.15) 0px 2px 3px;

	/*
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    */
	min-width: 40px;
	padding-left: 40px;
	padding-right: 10px;
	height: 40px;
	position: absolute;
	line-height: 39px;
 	left: 0px;
	top: 40px;
	z-index: 1;
	pointer-events: none;
	-webkit-font-smoothing: antialiased;
}
/* masao-original */
.img-eye-catch {
	height:96px; width:96px;
} 
.common_cap {
	border: ridge 2px pink;
	padding: 0 10px;
	background-color: pink;
}
#fotter {
	margin: 0;
	width: 100%;
}
.a {
	margin: 20px 0 -40px 20px;
	margin-left: center;
}
.b {
	margin: 20px 0 -40px 50px;
	margin-left: center;
}
.c {
	margin: 20px 0 -40px 55px;
	margin-left: center;
}